{% extends "admin/base_site.html" %}
{% load static %}

{% block content %}
<!-- Try with a direct link -->
<link rel="stylesheet" type="text/css" href="/static/custom_admin.css">

<div class="module">
  <h1 class="module__title">Content Management</h1>
  
  <div class="button-group">
    <a href="{% url 'logo_management' %}">
      <button type="button">
        Logo Management
      </button>
    </a>   
    <a href="{% url 'shop_image_generation' %}">
      <button type="button">
        Shop Image Generation
      </button>
    </a>
    <a href="{% url 'pdf_to_jpg' %}">
      <button type="button">
        PDF to JPG Converter
      </button>
    </a>
    <a href="{% url 'combine_pdfs' %}">
      <button type="button">
        PDF Combiner
      </button>
    </a>
  </div>
</div>
{% endblock %}